<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fusion.docfusion.mapper.TemplateMapper">

    <resultMap id="TemplateResultMap" type="com.fusion.docfusion.entity.Template">
        <id property="id" column="id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="reportTypeId" column="report_type_id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileType" column="file_type"/>
        <result property="filePath" column="file_path"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insert" parameterType="com.fusion.docfusion.entity.Template"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO template (owner_id, report_type_id, file_name, file_type, file_path, created_at)
        VALUES (#{ownerId}, #{reportTypeId}, #{fileName}, #{fileType}, #{filePath}, #{createdAt})
    </insert>

    <select id="selectById" resultMap="TemplateResultMap">
        SELECT * FROM template WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="TemplateResultMap">
        SELECT * FROM template ORDER BY created_at DESC
    </select>

    <select id="selectAllByOwner" resultMap="TemplateResultMap">
        SELECT *
        FROM template
        WHERE owner_id = #{ownerId}
        ORDER BY created_at DESC
    </select>

    <select id="selectByReportTypeId" resultMap="TemplateResultMap">
        SELECT *
        FROM template
        WHERE report_type_id = #{reportTypeId}
        ORDER BY created_at DESC
    </select>

    <select id="selectByReportTypeIdAndOwner" resultMap="TemplateResultMap">
        SELECT *
        FROM template
        WHERE report_type_id = #{reportTypeId}
          AND owner_id = #{ownerId}
        ORDER BY created_at DESC
    </select>

    <update id="update" parameterType="com.fusion.docfusion.entity.Template">
        UPDATE template
        SET
            report_type_id = #{reportTypeId},
            file_name      = #{fileName}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM template
        WHERE id = #{id}
    </delete>
</mapper>
