<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fusion.docfusion.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.fusion.docfusion.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="role" column="role"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="selectByUsername" resultMap="UserResultMap">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>

    <select id="selectById" resultMap="UserResultMap">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.fusion.docfusion.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, avatar_url, role, created_at)
        VALUES (#{username}, #{password}, #{avatarUrl}, #{role}, #{createdAt})
    </insert>

    <update id="updatePasswordById">
        UPDATE user SET password = #{password} WHERE id = #{id}
    </update>

    <update id="updateUsernameById">
        UPDATE user SET username = #{username} WHERE id = #{id}
    </update>

    <update id="updateAvatarUrlById">
        UPDATE user SET avatar_url = #{avatarUrl} WHERE id = #{id}
    </update>

</mapper>

